<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="File" fileName="coseng.log">
      <PatternLayout pattern="%d{DATE} %highlight{%-5level} %logger{15} [%t]; %msg%n" />
    </File>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%-5level}: [%t]; %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration>